/* Nav Bar CSS */
h1{
    text-align:center;
}

.navbar-text{
    font-size:20px;
    
}

img{
    
    width:35%;
    display:block;
    margin:auto;
}
p{
    color:blue;
    
}
/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


